# Dependencies
node_modules

# Next.js
.next
out

# Build
dist

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel

# IDE
.DS_Store
*.local

# Testing
test-results
playwright-report

# Misc
*.tar.gz
*.log
